<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.partum.dao">


    <!-- 通用查询映射结果 -->
    <resultMap id="EmployeeBaseResultMap" type="Employee">
        <id column="emp_id" property="empId" />
        <result column="emp_name" property="empName" />
        <result column="emp_password" property="empPassword" />
        <result column="emp_email" property="empEmail" />
        <result column="emp_moblie" property="empMoblie" />
        <result column="last_login" property="lastLogin" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Employee_Base_Column_List">
        emp_id AS empId, emp_name AS empName, emp_password AS empPassword, emp_email AS empEmail, emp_moblie AS empMoblie, last_login AS lastLogin, gmt_create AS gmtCreate, gmt_modified AS gmtModified
    </sql>

</mapper>